
.heading{
    margin: 25px auto 25px auto;
    height: 20%;
    display:block;
    clear: both;
}

body{
    margin: 0px;
    background-image: url(../Images/back31.jpg); 
            margin: 0px;
            background-attachment: fixed;
            background-repeat: no-repeat;
            height: 100%;
            width: auto;
            background-size: cover;
            background-position: center;
}

.button{
    font-size: 35px;
    font-family: inherit !important;
    text-transform: uppercase;
    background-color: white;
    clear: both;
    color: black;   
    padding: 5px;
    margin: 30px auto 20px 80px;
    transition: 300ms;
    display: block;
    
}

img.back{ 
    /* background image for home page  */
    height: 225px;
    width: 225px;
    border-radius: 120px;
    display: block;
    margin-left: 70px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    clear: both;
    
}
div.query{
    font-size: 50px;
}
.main{
    padding: 15px;
    font-family: inherit;
}

#name{
    font-family: monospace;
    border-top: 3px solid #2F80ED;
}
.name{
    font-family: 'Barlow Condensed', sans-serif;
    /* font-family: monospace; */
    font-size: 60px;
    background: -webkit-linear-gradient(#007991,#78ffd6);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    clear: both;
    padding: 25px;
    margin: 30px;
    width: 70%;

}
.page{
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    margin: 2px;
    opacity: 0.8;
    border: 2px solid black;
    cursor: pointer;
}

.intro{
    font-size: 30px;
    font-family: "fangsong";
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 30px;
    float: right;
    margin: 50px;
    clear: both;
    width: 45%;
}

   /* (about page css) */
   .about,.gallery,.contact{
       display: none;
   }
   .about{
    font-family: -webkit-pictograph;
    font-size: 20px;
   }
   .about-row{
    background-color: black;
    color: white;
    opacity: 0.9;
    margin-left:25px ;
    margin-right: auto;
    padding: 30px;
    text-align: justify;
    width:45%;
    float:left;
    clear: both;
    display: block;
    border-radius:0px 45px 45px 0px ;
    font-family: 'Source Sans Pro', sans-serif;

}




.skills-1{
    text-transform: uppercase;
    display: inline-block;
    background-color: black;
    opacity: 1;
    color: white;
    border-radius: 0px 25px 0px 25px;
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
    text-align: left;

}
.skills-1:hover{
    background-color:white;
    color: black;
    border-radius: 25px 0px 25px 0px;

}

.skills{
    background-color: black;
    color: white;
    opacity: 0.9;
    margin: 40px 25px 25px auto;
    border-radius: 45px 0px 0px 45px ;
    display: block;
    float: right;
    clear: both;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width:45%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    
    
}
.hobbies{
    background-color: black;
    color: white;
    opacity: 0.9;
    margin: 40px auto 40px 20px;
    border-radius: 0px 45px 45px 0px ;
    display: block;
    float: left;
    clear: both;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width:45%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.hobbies-1{
    text-transform: uppercase;
    display: inline-block;
    background-color: black;
    opacity: 1;
    color: white;
    border-radius: 0px 25px 0px 25px;
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
    text-align: center;
    clear: both; 
}

.hobbies-1:hover{
    background-color:white;
    color: black;
    border-radius: 25px 0px 25px 0px;

}

.skills-img{
    height: 250px;
    width: 500px;
    margin: 40px auto 40px 70px;
    float: left;
    clear: both;
    position: relative;
    border-radius: 25px ;
}

.hobbies-img{
    height: 250px;
    width: 500px;
    margin: 40px 10px 40px auto;
    float: right;
    border-radius: 25px ;
}

caption{
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    width: 90%;
    height: 10%;
    margin: 25px auto 25px auto  !important;
    border:25px solid black;
    border-collapse: collapse;
    border-radius: 45px;
}

th,td{
    padding: 10px 5px ;
    border:2px solid white;
    border-collapse: collapse;
    background-color: black;
    color: white;
    opacity: 0.8;
}


/* (gallery page css) */
img{
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.certi{
    width:70%;
    margin: 10px auto ;
    padding: 20px;
    display: block;
    color: white;
    text-align: center;
    
}

.certi-img{
    height: 150px;
    width: 250px;
    display: inline;
    padding: 10px;
    margin: 15px;
    opacity: 0.4;
}

.certi-img:hover{
    opacity: 1;
    width: 275px;
    height: 175px;
    display: inline;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.clicks{
    width:70%;
    margin: 10px auto ;
    padding: 20px;
    display: block;
    color: white;
    text-align: center;
}


.clicks-img-hor{
    height: 150px;
    width: 250px;
    display: inline;
    padding: 10px;
    margin: 15px;
    opacity: 0.4;
}

.clicks-img-hor:hover{
    opacity:1;
    height: 175px;
    width: 275px;
    transform: scale(1.1);
    display: inline;
}

.clicks-img-ver{
    height: 250px;
    width: 200px;
    display: inline;
    padding: 10px;
    margin: 15px;
    opacity: 0.4;
}
.clicks-img-ver:hover{
    opacity: 1;
    height: 275px;
    width: 225px;
    transform: scale(1.1);
    display: inline;
}

.video{
    width:70%;
    padding: 20px;
    display: block;
    margin: 15px auto;
    color: white;
    text-align: center;    
}

/* (Contact page CSS) */

form{
    background-color: whitesmoke;
    color: black;
    width: 45%;
    margin: 50px 10px 50px 70px;
    clear: both;
    display: inline-block;
}

.input{
    
    background-color: white;
    color: black;
    padding: 10px 5px;
    margin: 10px 20px;
    width: 90%;
    display: inline-block;    
}

.submit{
    display: block;
    padding: 10px;
    font-size: 20px;
    margin: 25px;
}

label{    
    margin: 5px 15px;
    width: 18%;
    display: inline-block;
    
    padding: 10px 5px;
}

.font-awasomes{
    clear: both;
    text-align: center;
}

.fonts{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    font-size: 50px !important;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    color: black;
    
}
.logo{
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    margin: 70px auto 10px auto;
    
}

.flex{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    padding: 0px;
    text-align: center;
    width: 110px;
}
.size{
    border: black;
    border-radius: 25px;
    padding: 10px;
    font-size: 30px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    font-family: 'Poppins' , sans-serif;

}
i.github:hover , .git-hub-hover{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;

}
i.facebook:hover , .facebook-hover{
    background-color: #2553b8;
    color: white;
    
}
.instagram_hover{
    background-color: #d6249f;
    color: white;
}
i.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;

}
i.linkedin:hover , .linkedin_hover{
    background-color: #2867B2;
    color: white;
    
}i.snapchat:hover , .snapchat_hover{
    background-color: #fefe00c5;
    color: white;

}
i.skype:hover , .skype-hover{
    background-color: #00aff0 ;
    color: white;
    
}i.stackoverflow:hover , .stackoverflow-hover{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;

}
i.telegram:hover , .telegram-hover{
    background-color: #0088CC;
    color: white;
    
}
i.twitter:hover , .twitter_hover{
    background-color: #1DA1F2;
    color: white;

}
i.whatsapp:hover , .whatsapp-hover{
    background-color: #25D366;
    color: white;
    
}
.rights{
    font-size: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    clear: both;
    margin-left: 30px;
    margin-right: 0px;
    padding: 0px;
    width: 350px;
}